<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Egghead Videos</title>
    <link rel="stylesheet" href="../lib/foundation/css/foundation.css">
</head>

<body>

<div ng-app="app">
    <script type="text/ng-template" id="zippy.html">
        <div>
            <h3 ng-click="toggleContent()">{{title}}</h3>
            <div ng-show="isContentVisible" ng-transclude></div>
        </div>
    </script>

    <input type="text" ng-model="model.title">
    <input type="text" ng-model="model.content">

    <zippy title="{{model.title}}">
        The content is: {{model.content}}
    </zippy>
</div>

<script src="../lib/angular/angular.js"></script>
<script src="main.js"></script>

</body>
</html>